.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

/* タイトル */
h2 {
    text-align: center;
    margin-bottom: 40px;
}

/* 全体レイアウト */
.form-area {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

/* 左：画像 */
.image-area {
    width: 40%;
    text-align: center;
}

.image-area img {
    width: 100%;
    border-radius: 10px;
}

/* ファイル選択 */
.image-area input {
    margin-top: 20px;
}

/* 右：フォーム */
.input-area {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ラベル */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* 入力 */
input[type="text"],
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* 季節 */
.season-area {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

/* ボタン */
.button-area {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* 戻るボタン */
.back-btn {
    background: #ccc;
    padding: 10px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

/* 保存ボタン */
.submit-btn {
    background: #ffcc00;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

/* エラー */
.error {
    color: red;
    font-size: 12px;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    padding: 5px;
}

.delete-btn svg {
    width: 24px;
    height: 24px;
}


.delete-area {
    text-align: right;
}